.slider-container {
  &-study {
    @apply max-h-screen;
    .slick-slide {
      @apply w-[95vw] md:w-[80vw] lg:w-[65vw] xl:w-[52vw];

      &.slick-current .card {
        @apply border-gray-light opacity-100;
      }
    }
    .card {
      @apply border border-gray-light/20 rounded-2xl flex mx-5  hover:cursor-grab opacity-50 transition-all duration-300
      max-sm:h-[530px] max-md:h-[430px];

      div:first-child {
        @apply max-md:w-full max-md:rounded-r-2xl max-md:flex max-md:flex-col max-md:justify-between max-md:items-center md:border-r border-r-gray-light text-center pt-14 pb-10 px-10 items-center rounded-l-2xl;
      }
    }
    .slick-dots {
      @apply max-md:bottom-[44%] md:-bottom-[70px];
      li {
        width: 5px !important;
        button {
          &::before {
            @apply w-5 h-5 text-white text-[.5rem];
          }
        }
        &.slick-active button::before {
          color: white;
        }
      }
    }
  }
  &-lovedBy {
    .slick-track {
      // display: flex !important;
      // align-items: center;
      // .slick-slide {
      //   width: 160px !important;
      // }
    }
  }
}
